/* Google Fonts için "Lateef" ve "Scheherazade New" fontlarını içe aktar */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Amiri+Quran&display=swap');

body {
  --file-line-width: 40vw
}



/* Arapça metin için genel stil tanımları */
.arabic {
    font-size: 1.5em;
    line-height: 1.8em;
    direction: rtl;
    text-align: center;
    /* font-family: 'Amiri', serif; */
    /* font-family: 'Shaikh Hamdullah Mushaf', serif; */
    font-family: 'Feyzul Furkan', serif;
}

/* Kuran metni için özel font tanımı */
.arabic.diyanet {
    /* Diyanetin kullandığı Mushaf fontu */
    font-family: 'Feyzul Furkan', serif;
    line-height: 2.2em;
}

p.arabic {
    margin: 0;
    padding: 1em;
}

/* span tagı içeren Arapça metin için margin ayarları */
span.arabic {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.theme-light p.arabic {
    background-color: rgba(0, 0, 0, 0.03);
    /* background-color: rgba(255, 233, 155, 0.2); */
}

.theme-dark p.arabic {
    background-color: rgba(255, 255, 255, 0.03);
}

/* Change font in editor  */
/* .markdown-source-view {font-family: "Ubuntu", monospace;} */


/* Change font in preview  */
/* .markdown-preview-view {font-family: "Ubuntu", monospace;} */


/* Amiri ve Amiri Quran fontlarını çağırma */
/* @import url('https://fonts.googleapis.com/css2?family=Amiri&family=Amiri+Quran&display=swap'); */

/* Tek tek font çağırma */
/* @import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap'); */



/* ----------------------------------- */

hr {
	width: 100%;
	text-align:center;
	margin-left:0;
}
hr.dashed {
    border-top: 1px dashed;
}

hr.dotted {
    border-top: 1px dotted;
}

hr.double {
    border-top: 2px double;
}

hr.solid {
    border-top: 2px solid #999;
}

hr.s {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr.s::after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}



/* ----------------------------------- */

.divider {
    /* font-size: 30px; */
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 12px;
}


.fancy {
    --b: 6px;
    /* Border kalınlığı */
    --w: 80px;
    /* Çizginin genişliği */
    --g: 15px;
    /* Boşluk genişliği */
    --c: #0b486b;
    /* Çizgi rengi */

    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid transparent;
    /* Border şeffaf yapıldı */
    color: #fff;
    background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
        conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: linear-gradient(#0000 calc(50% - var(--b) / 2),
            var(--c) 0 calc(50% + var(--b) / 2),
            #0000 0) 1 / 0 var(--w) / calc(var(--w) + var(--g));
    margin-inline: auto;
}